$mesic-color: #19c9d4;
$input-color: #9f9999;
$mypage-modify-unable: #f4f5f4;
$mypage-modify-able: #3c64b1;

// login, signup modal

.login-signup-modal-outsider {
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.login-signup-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  /* Sit on top */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 7px;

  .login-close {
    color: $mesic-color;
    font-weight: 800;
  }
  .signup-close {
    color: $mesic-color;
    font-weight: 800;
  }

  .login-content {
    text-align: center;

    .login-title {
      color: $mesic-color;
      margin-bottom: 25px;
      font-weight: 800;
      font-size: 26px;
    }

    input[type] {
      background-color: #f4f5f4;
      border: none;
      outline: none;
      height: 25px;
      margin-left: 10px;
    }

    .email-input-section {
      margin: 15px;
      color: $input-color;
    }

    .password-input-section {
      margin: 15px;
      color: $input-color;
      // .error-message{
      //     margin-top: 5px;
      //     font-size: 13px;
      // }
    }

    .loginBtn-1 {
      margin: 10px;
      padding: 10px;
      border-radius: 7px;

      background-color: $mesic-color;
      color: white;

      border: none;
      outline: none;

      &:hover {
        opacity: 0.8;
      }
    }

    .guestLoginBtn {
      margin: 10px;
      padding: 10px;
      border-radius: 7px;

      background-color: rgb(245, 241, 241);
      color: $mesic-color;

      border: none;
      outline: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .signup-content {
    text-align: center;

    .signup-title {
      color: $mesic-color;
      margin-bottom: 25px;
      font-weight: 800;
      font-size: 26px;
    }

    input[type] {
      background-color: #f4f5f4;
      border: none;
      outline: none;
      height: 22px;
      margin-left: 10px;
    }

    .email-input-section {
      margin: 15px;
      color: $input-color;
    }

    .name-input-section {
      margin: 15px;
      color: $input-color;
    }

    .nickname-input-section {
      margin: 15px;
      color: $input-color;
    }

    .password-input-section {
      margin: 15px;
      color: $input-color;
    }

    .password-check-input-section {
      margin: 15px;
      color: $input-color;
    }

    .loginBtn-2 {
      margin: 15px;
      padding: 10px;
      border-radius: 7px;

      background-color: $mesic-color;
      color: white;
      font-size: 16px;
      font-weight: 600;

      border: none;
      outline: none;
    }
  }

  .loginContainer {
    margin: 10px;
    text-align: center;
    .loginBtn {
      width: 32px;
      height: 32px;
    }
  }
}

// mypage, mypage-edit modal

.mypage-close {
  top: 30px;
  left: 30px;
  position: absolute;
  color: $mesic-color;
  font-size: 1.3rem;
  font-weight: 800;
}

.mypage-edit-background {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

// mypage modal part
.mypage-edit-modal {
  background-color: #fefefe;
  position: absolute;
  padding: 30px 40px 30px 30px;
  width: 500px;
  left: 90%;
  border: none;
  border-radius: 30px;
  text-align: center;
  -webkit-transform: translate(-60%, 30%);
  transform: translate(-60%, 30%);

  .mypage-title {
    color: $mesic-color;
    margin: 20px;
    font-weight: 800;
    font-size: 1.7rem;
  }

  .profileImg {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .mypage-info > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $input-color;
    margin: 30px;
    & > div:first-child {
      margin-right: 25px;
      font-size: 1.4rem;
    }
    & > div:last-child {
      padding: 10px;
      font-size: 1.2rem;
      width: 250px;
      background-color: $mypage-modify-unable;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    & > input[type="text"] {
      background-color: $mesic-color;
      text-align: center;
      border: none;
      outline: none;
      width: 250px;
      padding: 10px;
      font-size: 1.2rem;
      opacity: 0.5;
    }
  }

  .mypage-modify-btn {
    margin: 15px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: $mesic-color;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    &:hover {
      opacity: 0.8;
    }
  }
}

// ediymypage modal part
#profile-img-input {
  display: none;
}

.edit-profile-img-btn {
  opacity: 0.4;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
}

.profileImg-content {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.nickname-error {
  color: rgba(255, 0, 0, 0.827);
}
