$mesic-color: #19c9d4;
$input-color: #9f9999;
$mypage-modify-unable: #f4f5f4;
$mypage-modify-able: #3c64b1;
$btn-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
$box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);

@mixin close-btn {
  cursor: pointer;
  top: 30px;
  left: 30px;
  position: absolute;
  font-size: 1.3rem;
  color: $mesic-color;
  font-weight: 800;
}

@mixin modal-title {
  color: $mesic-color;
  margin: 20px;
  font-weight: 800;
  font-size: 1.7rem;
}

@mixin input-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin confirm-btn {
  box-shadow: $btn-shadow;
  margin: 15px;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: $mesic-color;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  &:hover {
    opacity: 0.8;
  }
}

.error-message {
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.827);
}

// login, signup modal
.login-signup-modal-outsider {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-close {
  @include close-btn;
  top: 20px;
}

.login-title {
  @include modal-title;
}

.content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  & > div {
    @include input-flex;
    margin: 25px;
    & > div {
      color: $input-color;
      margin-right: 20px;
      font-size: 1.2rem;
    }
    & > input {
      color: $input-color;
      background-color: #f4f5f4;
      border: none;
      outline: none;
      text-align: center;
      font-size: 1rem;
      height: 30px;
    }
  }
}

.loginBtn {
  @include confirm-btn;
  box-shadow: none;
}

.loginBtn-2 {
  @include confirm-btn;
}

.guestLoginBtn {
  @include confirm-btn;
  background-color: white;
  color: $mesic-color;
}

.loginContainer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    border-radius: 20px;
    box-shadow: $btn-shadow;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.google-loginBtn {
  width: 32px;
  height: 32px;
}

.login-signup-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 5;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}

// mypage, mypage-edit modal

.mypage-close {
  @include close-btn;
}

.mypage-edit-background {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

// mypage modal part
.mypage-edit-modal {
  z-index: 3;
  box-shadow: $box-shadow;
  background-color: #fefefe;
  position: absolute;
  padding: 30px 40px 30px 30px;
  width: 500px;
  right: 2%;
  bottom: 25%;
  border: none;
  border-radius: 20px;
  text-align: center;

  .mypage-title {
    color: $mesic-color;
    margin: 20px;
    font-weight: 800;
    font-size: 1.7rem;
  }

  .profileImg {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .mypage-info > div {
    @include input-flex;
    margin: 30px;
    & > div:first-child {
      color: $input-color;
      margin-right: 25px;
      font-size: 1.4rem;
    }
    & > div:last-child {
      color: $input-color;
      padding: 10px;
      font-size: 1.2rem;
      width: 250px;
      background-color: $mypage-modify-unable;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    & > input[type="text"] {
      background-color: $mesic-color;
      text-align: center;
      border: none;
      outline: none;
      width: 250px;
      padding: 10px;
      font-size: 1.2rem;
      opacity: 0.5;
    }
  }

  .mypage-modify-btn {
    @include confirm-btn;
  }

  .mypage-cancel-btn {
    @include confirm-btn;
    background-color: white;
    color: $mesic-color;
  }
}

// ediymypage modal part
#profile-img-input {
  display: none;
}

.edit-profile-img-btn {
  opacity: 0.4;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
}

.profileImg-content {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
