@import "../media-queries";
@import "../colors";

$title-color: #525252;
$subtitle-color: #858585;
$mesic-color: #19c9d4;
$btn-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
$box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);

.mainpage {
  position: absolute;
  height: 670vh;
  overflow-y: hidden;
}

.mainpage-mesic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 12vh;
}

.mainpage-mesic-body {
  display: flex;
  justify-content: center;
  position: relative;
  @include tablet {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.mainpage-preview-container {
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  width: 55vw;
  margin: 0 90px 0 30px;
  height: max-content;
  box-shadow: 0px 15px 20px 10px rgba(84, 84, 84, 0.4);
  overflow: hidden;
  video {
    display: block;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 5vw 0;
    width: 85vw;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 5vw 0;
    width: 90vw;
  }
}

.browser {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.blob-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include tablet {
    display: none;
  }
}

.mainpage-mesic-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include tablet {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.title-container {
  width: 28vw;
  margin: 0;
  @include tablet {
    width: 53vw;
  }

  @include mobile {
    width: 69vw;
  }
}

.mainpage-mesic-about-us {
  font-size: 1vw;
  letter-spacing: -1px;
  line-height: 3rem;
  color: #a1a1a1;
  @include tablet {
    font-size: 2.5vw;
  }

  @include mobile {
    font-size: 3.5vw;
  }
}

.mainpage-mesic-title {
  color: $title-color;
  font-size: 3.5vw;
  font-weight: 800;
  letter-spacing: -0.01vw;
  line-height: 3vw;
  white-space: nowrap;
  span:first-child {
    font-size: 3.5vw;
    font-weight: 800;
    letter-spacing: -0.01vw;
    @include tablet {
      font-size: 7vw;
    }
    @include mobile {
      font-size: 10vw;
    }
  }
  span:last-child {
    font-size: 2vw;
    @include tablet {
      font-size: 4vw;
    }
    @include mobile {
      font-size: 5vw;
    }
  }
  @include tablet {
    line-height: 5vw;
  }
}
.typing {
  overflow: hidden;
  animation: typing 5s steps(22) infinite;
  border-right: 3px solid $title-color;
  margin-bottom: 10px;
  @include tablet {
    animation: typing_resp 5s steps(22) infinite;
  }
  @include mobile {
    line-height: 7vw;
    margin-bottom: 0;
    animation: typing_resp_mobile 5s steps(22) infinite;
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  60% {
    width: 27vw;
    border-color: $title-color;
  }
  70% {
    border-color: transparent;
  }
  80% {
    border-color: $title-color;
  }
  90% {
    border-color: transparent;
  }
  100% {
    width: 27vw;
  }
}

@keyframes typing_resp {
  0% {
    width: 0px;
  }
  60% {
    width: 53vw;
    border-color: $title-color;
  }
  70% {
    border-color: transparent;
  }
  80% {
    border-color: $title-color;
  }
  90% {
    border-color: transparent;
  }
  100% {
    width: 53vw;
  }
}
@keyframes typing_resp_mobile {
  0% {
    width: 0px;
  }
  60% {
    width: 69vw;
    border-color: $title-color;
  }
  70% {
    border-color: transparent;
  }
  80% {
    border-color: $title-color;
  }
  90% {
    border-color: transparent;
  }
  100% {
    width: 69vw;
  }
}

@keyframes typing_resp_mobile {
  0% {
    width: 0px;
  }
  60% {
    width: 69vw;
    border-color: $title-color;
  }
  70% {
    border-color: transparent;
  }
  80% {
    border-color: $title-color;
  }
  90% {
    border-color: transparent;
  }
  100% {
    width: 69vw;
  }
}

.mainpage-mesic-subtitle {
  font-size: 1.3vw;
  color: $subtitle-color;
  font-weight: 300;
  letter-spacing: -0.01vw;
  line-height: 1.8vw;
  margin: 0.5vw 0;

  @include tablet {
    margin-top: 1.5rem;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
  }
  @include mobile {
    margin-top: 0.8rem;
    font-size: 4vw;
    line-height: 5vw;
    text-align: center;
  }
}

.mainpage-mesic-btn {
  text-align: center;
  margin: 2.5vw;
  button {
    box-shadow: $btn-shadow;
    border: 0;
    background-color: $main-color;
    color: white;
    font-weight: 600;
    padding: 0.8vw;
    font-size: 1.3vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer;

    @include tablet {
      width: 90vw;
      height: 6vh;
      font-size: 4.8vw;
    }
  }

  @include tablet {
    position: fixed;
    z-index: 2;
    bottom: 0;
  }
}

.section-img {
  width: 36vw;
  height: max-content;
  overflow: hidden;
}

.first-section {
  .section-img {
    margin-right: 10vw;
    @include tablet {
      margin: 0;
      width: 55vw;
    }

    @include mobile {
      margin: 0;
      width: 75vw;
    }
  }

  .mainpage-mesic-subtitle {
    line-height: 0.7vw;
    font-size: 1.4vw;
    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 1vw;
    }

    @include mobile {
      font-size: 3.5vw;
      line-height: 6vw;
      margin-bottom: 1vw;
    }
  }
  .mainpage-mesic-title {
    font-size: 2.4vw;
    @include tablet {
      font-size: 5vw;
    }

    @include mobile {
      font-size: 5.3vw;
    }
  }
  .blob-img {
    width: 26vw;
  }
}

.second-section {
  .section-img {
    margin-left: 13vw;
    @include tablet {
      margin: 0;
      width: 55vw;
    }

    @include mobile {
      margin: 0 0 2vw 0;
      width: 75vw;
    }
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.3vw;
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
  .mainpage-mesic-title {
    line-height: 3vw;
    font-size: 2.4vw;
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
  .mainpage-mesic-subtitle-resp {
    display: none;
    color: $subtitle-color;
    font-weight: 300;
    letter-spacing: -0.01vw;
    margin: 1vw 0;
    font-size: 2.5vw;
    line-height: 4vw;
    text-align: center;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
      white-space: nowrap;
      font-weight: 300;
      letter-spacing: -0.01vw;
      margin: 1vw 0;
      font-size: 3.5vw;
      line-height: 5.5vw;
    }
  }
  .mainpage-mesic-title-resp {
    display: none;
    color: $title-color;
    font-weight: 800;
    letter-spacing: -0.01vw;
    white-space: nowrap;
    line-height: 6.5vw;
    font-size: 5vw;
    text-align: center;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
      letter-spacing: -0.01vw;
      line-height: 6.7vw;
      font-size: 5.3vw;
    }
  }
  .blob-img {
    width: 26vw;
  }
}

.third-section {
  .section-img {
    margin-right: 10vw;
    width: 45vw;
    @include tablet {
      margin: 0;
      width: 70vw;
    }

    @include mobile {
      margin: 0;
      width: 90vw;
    }
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.4vw;

    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 1vw;
    }

    @include mobile {
      font-size: 3.5vw;
      line-height: 5.5vw;
      margin-bottom: 1vw;
    }
  }
  .mainpage-mesic-title {
    line-height: 3vw;
    font-size: 2.4vw;

    @include tablet {
      font-size: 5vw;
      line-height: 6.5vw;
    }

    @include mobile {
      line-height: 6.7vw;
      font-size: 5.3vw;
    }
  }
  .blob-img {
    width: 24vw;
  }
}

.fourth-section {
  .section-img {
    margin-left: 4vw;
    width: 50vw;

    @include tablet {
      margin: 0;
      width: 75vw;
    }

    @include mobile {
      margin: 0;
      width: 90vw;
    }
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.4vw;

    @include tablet {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-title {
    line-height: 2.3vw;
    font-size: 2.4vw;

    @include tablet {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-subtitle-resp {
    display: none;
    color: $subtitle-color;
    font-weight: 300;
    letter-spacing: -0.01vw;
    margin: 1vw 0 2vw 0;
    font-size: 2.5vw;
    line-height: 4vw;
    text-align: center;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
      font-size: 3.5vw;
      line-height: 5.5vw;
    }
  }
  .mainpage-mesic-title-resp {
    display: none;
    color: $title-color;
    font-weight: 800;
    letter-spacing: -0.01vw;
    white-space: nowrap;
    line-height: 3vw;
    font-size: 5vw;
    text-align: center;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
      line-height: 5.3vw;
      font-size: 5.3vw;
    }
  }
  .blob-img {
    width: 22vw;
  }
}

.fifth-section {
  .mainpage-mesic-text {
    @include tablet {
      margin: 0;
    }
  }
  .section-img {
    margin-right: 2vw;
    width: 43vw;

    @include tablet {
      margin: 0;
      width: 75vw;
    }

    @include mobile {
      margin: 0;
      width: 90vw;
    }
  }
  .mainpage-mesic-subtitle {
    line-height: 1.7vw;
    font-size: 1.5vw;

    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 2vw;
    }

    @include mobile {
      font-size: 3.5vw;
      line-height: 5.5vw;
      margin-bottom: 2vw;
    }
  }
  .mainpage-mesic-title {
    line-height: 2.7vw;
    font-size: 2.4vw;

    @include tablet {
      font-size: 5vw;
      line-height: 2vw;
    }

    @include mobile {
      font-size: 5.3vw;
      line-height: 3.5vw;
    }
  }
  .blob-img {
    width: 22vw;
  }
}

.mainpage-mesic-btn-end {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 3.9vw;
    @include tablet {
      width: 11vw;
    }
  }
  button {
    box-shadow: $btn-shadow;
    border: 0.1vw solid $main-color;
    background-color: white;
    color: $main-color;
    font-weight: 600;
    padding: 0.6vw 0.9vw;
    font-size: 1.6vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer;
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30vw;
      height: 6vh;
      font-size: 3vw;
    }
  }
}

.mainpage-footer {
  width: 100vw;
  height: 45vh;
  padding: 12vh 12vh 6vh 12vh;
  @include tablet {
    padding: 10vh 0;
  }
}

.mainpage-footer-body {
  border-top: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include tablet {
    border-top: 1px solid black;
  }
}

.mainpage-footer-logo {
  img {
    position: absolute;
    top: 1vw;
    width: 8vw;
    @include tablet {
      margin-left: 1vw;
      width: 10vw;
    }
  }
}

.mainpage-footer-members {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  div:first-child {
    font-size: 1.2vw;
    font-weight: 800;
    margin: 6vh 0 1vh 0;
    @include tablet {
      font-size: 3vw;
      margin-top: 5vh;
      font-weight: 1000;
    }
  }
  div:not(:first-child) {
    cursor: pointer;
    color: $title-color;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.35vw;
    @include tablet {
      font-size: 2vw;
    }
  }
  @include tablet {
    margin: 1.5vh 0 0 16vw;
  }
}

.mainpage-footer-repo {
  display: flex;
  flex-direction: column;
  img:first-child {
    width: 2vw;
    margin: 5vh 0 1vh 0;
    @include tablet {
      width: 4vw;
    }
  }
  div:not(:first-child) {
    cursor: pointer;
    color: $title-color;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.25vw;
    @include tablet {
      font-size: 2vw;
    }
  }
  @include tablet {
    margin: 1.5vh 0 0 8vw;
  }
}

.mainpage-footer-copyright {
  color: $subtitle-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1vw;
  letter-spacing: 0.02vw;
  @include tablet {
    opacity: 0;
  }
}

.scroll-down {
  position: fixed;
  z-index: 1;
  height: 2vw;
  width: 2vw;
  color: $subtitle-color;
  font-size: 0.8vw;
  left: 47.2vw;
  bottom: 4.5vh;
  white-space: nowrap;
  animation: scroll-down 1.5s ease-in-out infinite;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  @include tablet {
    bottom: 13vh;
    font-size: 2.5vw;
    left: 40.75vw;
  }
  @include mobile {
    bottom: 15vh;
    font-size: 3.5vw;
    left: 36.7vw;
  }
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: fixed;
  left: 50vw;
  bottom: 4vh;
  height: 0.5vw;
  width: 0.5vw;
  border: 0.1vw solid $subtitle-color;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.5s ease-in-out infinite;
  animation-delay: 0.1s;

  @include tablet {
    bottom: 10.5vh;
    width: 1vw;
    height: 1vw;
  }

  @include mobile {
    bottom: 11.2vh;
    width: 1.5vw;
    height: 1.5vw;
  }
}
.scroll-down::after {
  bottom: 3vh;
  animation-delay: 0.2s;

  @include tablet {
    bottom: 9.5vh;
  }

  @include mobile {
    bottom: 10.2vh;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.display-none {
  display: none;
}

.scroll-up {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  height: 4vh;
  width: 2vw;
  color: $subtitle-color;
  font-size: 0.8vw;
  right: 2.5vw;
  bottom: 2.5vh;
  white-space: nowrap;
  animation: scroll-up 1.5s ease-in-out infinite;

  @include tablet {
    bottom: 9.5vh;
    right: 5vw;
    font-size: 2.5vw;
  }

  @include mobile {
    bottom: 10vh;
    right: 6vw;
    font-size: 3.5vw;
  }
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: fixed;
  right: 3vw;
  bottom: 5.5vh;
  height: 0.5vw;
  width: 0.5vw;
  border: 0.1vw solid $subtitle-color;
  transform: translate(-50%, -50%) rotate(225deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-up 1.5s ease-in-out infinite;
  animation-delay: 0.1s;

  @include tablet {
    bottom: 12.5vh;
    right: 5vw;
    width: 1vw;
    height: 1vw;
  }

  @include mobile {
    bottom: 13.5vh;
    right: 5.6vw;
    width: 1.5vw;
    height: 1.5vw;
  }
}
.scroll-up::after {
  bottom: 6.5vh;
  animation-delay: 0.2s;

  @include tablet {
    bottom: 13.5vh;
  }

  @include mobile {
    bottom: 14.5vh;
  }
}

.align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.in {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

.in-subtitle {
  animation: fadeInLeft 2s;
  -webkit-animation: fadeInLeft 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.in-title {
  animation: fadeInLeft 2s;
  -webkit-animation: fadeInLeft 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.in-blob {
  animation: fadein-blob 2s;
  -webkit-animation: fadein-blob 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes scroll-up {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-blob {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
