$mesic-color: #19c9d4;
$default-black-color: #525252;

.intro-page {
  .intro-page-section-1 {
    display: flex;
    padding: 65px;
    background-position-y: position / 2;

    .intro-page-browser-img {
      width: 50%;
      margin: 3%;
      padding: 1%;
      padding-right: 0px;
    }

    .intro-page-text-section {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 3%;
      padding-left: 0px;

      .intro-page-aboutus {
        font-family: Mulish;
        font-size: 0.7vw;
        font-style: normal;
        color: #686262;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1.5vh;
      }

      .intro-page-aboutus-name {
        margin: auto;
        font-family: Mulish;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 800;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 10px;
        color: $default-black-color;
      }

      .intro-page-aboutus-content {
        margin-top: 0.3vh;
        font-family: Mulish;
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        color: #868686;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .quick-start {
      .quick-start-btn {
        width: 130px;
        margin-top: 20px;
        padding: 13px;
        border-radius: 7px;

        background-color: $mesic-color;
        color: white;
        font-size: 18px;
        font-weight: 600;

        border: none;
        outline: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .intro-page-section-2 {
    display: flex;
    margin: auto;
    background-position-y: position / -20;

    .intro-page-section2-img {
      width: 25%;
      height: 35%;
      margin: auto;
      margin-left: 15%;
    }

    .intro-page-section-2-content {
      padding: 15vw;
      justify-items: center;
      color: $default-black-color;

      background-image: url("./../images/Blob-2.png");
      background-repeat: no-repeat;
      // background-size: contain;
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 23vw;

      .section2-content-small {
        color: #868686;
        // font-size: 18px;
        font-size: 1.2vw;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .section2-content-large {
        color: $default-black-color;
        font-size: 2vw;
        font-weight: 700;
      }
    }
  }

  .intro-page-section-3 {
    display: flex;
    margin: auto;
    margin-top: 13vh;

    background-position-y: position / -40;

    .intro-page-section3-img {
      width: 25%;
      height: 35%;
      margin: auto;
      margin-right: 13%;
    }

    .intro-page-section-3-content {
      padding: 12vw;
      justify-items: center;

      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 28vw;

      color: $default-black-color;

      background-image: url("./../images/Blob-3.png");
      background-repeat: no-repeat;
      // background-position-x: 50%;
      // background-position-y: 55%;

      .section3-content-small {
        color: #868686;
        font-size: 1.1vw;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .section3-content-large {
        color: $default-black-color;
        font-size: 2vw;

        font-weight: 700;
      }
    }
  }

  .intro-page-section-4 {
    display: flex;
    margin: auto;
    margin-top: 10vh;

    background-position-y: position / -50;

    .intro-page-section4-img {
      width: 30%;
      height: 40%;
      margin: auto;
      margin-left: 13%;
    }

    .intro-page-section-4-content {
      // width: 50%;
      padding: 13vw;
      justify-items: center;
      color: $default-black-color;

      background-image: url("./../images/Blob-4.png");
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 40%;
      background-size: 22vw;

      .section4-content-small {
        color: #868686;
        font-size: 1.1vw;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .section4-content-large {
        color: $default-black-color;
        font-size: 2vw;
        font-weight: 700;
      }
    }
  }

  .intro-page-section-5 {
    display: flex;
    margin: auto;

    background-position-y: position / -60;

    .intro-page-section5-img {
      width: 42%;
      height: 47%;
      margin: auto;
      margin-right: 8%;
    }

    .intro-page-section-5-content {
      // margin-top: 200px;
      // padding: 200px;
      margin: auto;
      padding: 7vw;

      color: $default-black-color;

      background-image: url("./../images/Blob-5.png");
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 20%;
      background-size: 24vw;

      .section5-content-small {
        color: #868686;
        font-size: 1.2vw;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .section5-content-large {
        color: $default-black-color;
        font-size: 2vw;
        font-weight: 700;
      }
    }
  }

  .intro-page-section-6 {
    display: flex;
    margin: auto;

    background-position-y: position / -100;
    .intro-page-section6-img {
      width: 35%;
      height: 45%;
      margin: auto;
    }

    .intro-page-section-6-content {
      margin-left: 5%;
      margin-top: 140px;
      margin-right: 5%;
      padding: 10vw;

      color: $default-black-color;

      background-image: url("./../images/Blob-6.png");
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 20%;
      background-size: 25vw;

      .section6-content-small {
        color: #868686;
        font-size: 1.1vw;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .section6-content-large {
        color: $default-black-color;
        font-size: 2vw;
        font-weight: 700;
      }
    }
  }

  .below-btn-section {
    display: flex;
    justify-content: center;
    padding-bottom: 170px;
    .intro-page-below-start-btn {
      width: 180px;
      padding: 13px;
      border-radius: 7px;

      background-color: $mesic-color;
      color: white;
      font-size: 24px;
      font-weight: 600;

      border: none;
      outline: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: white;
    border-top: solid 0.5px;
    border-color: #cac7c7;
    margin-bottom: 20vh;

    .footer-section-logo {
      padding: 2rem;
    }

    .footer-section-members {
      font-size: 1vw;
      padding: auto;
      margin-top: 5vh;
      margin-left: 10vh;
      width: 8vw;
    }

    .footer-section-github {
      font-size: 1vw;
      padding: auto;
      margin-top: 5vh;
      margin-left: 10vh;
      width: 8vw;
    }
  }
}
