@import "../media-queries";
@import "../colors";

$title-color: #525252;
$subtitle-color: #858585;
$mesic-color: #19c9d4;
$btn-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
$box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);

.mainpage {
  position: absolute;
  height: 670vh;
  overflow-y: hidden;
}

.mainpage-mesic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 12vh;

  @include tablet {
    padding: 3rem;
  }
}

.mainpage-mesic-body {
  display: flex;
  justify-content: center;
  position: relative;

  @include tablet {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.mainpage-preview-container {
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  width: 60vw;
  margin-right: 6vw;
  height: max-content;
  box-shadow: 0px 15px 20px 10px rgba(84, 84, 84, 0.4);
  overflow: hidden;
  video {
    display: block;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 5vw 0;
    width: 85vw;
  }
}

.browser {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.blob-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    display: none;
  }
}

.mainpage-mesic-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include tablet {
    justify-content: space-between;
    align-items: center;
  }
}

.mainpage-mesic-about-us {
  font-size: 1vw;
  letter-spacing: -1px;
  line-height: 3rem;
  color: #a1a1a1;

  @include tablet {
    font-size: 2.5vw;
  }
}

.mainpage-mesic-title {
  color: $title-color;
  font-size: 3.5vw;
  font-weight: 800;
  letter-spacing: -0.01vw;
  line-height: 3vw;
  white-space: nowrap;
  span:first-child {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.01vw;

    @include tablet {
      font-size: 7vw;
    }
  }
  span:last-child {
    font-size: 1.8rem;

    @include tablet {
      font-size: 4vw;
    }
  }
}

.mainpage-mesic-subtitle {
  font-size: 1.3vw;
  color: $subtitle-color;
  font-weight: 300;
  letter-spacing: -0.01vw;
  line-height: 1.8vw;
  margin: 0.5vw 0;

  @include tablet {
    margin-top: 1.5rem;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
  }
}

.mainpage-mesic-btn {
  text-align: center;
  margin: 2.5vw;
  button {
    box-shadow: $btn-shadow;
    border: 0;
    background-color: $main-color;
    color: white;
    font-weight: 600;
    padding: 0.8vw;
    font-size: 1.3vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer;

    @include tablet {
      width: 90vw;
      height: 6vh;
      font-size: 1.2rem;
    }
  }

  @include tablet {
    position: fixed;
    z-index: 2;
    bottom: 0;
  }
}

.section-img {
  width: 36vw;
  height: max-content;
  overflow: hidden;
}

.first-section {
  .section-img {
    margin-right: 10vw;

    @include tablet {
      margin: 0 0 10vw 0;
      width: 55vw;
    }
  }
  .in {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }
  .mainpage-mesic-subtitle {
    line-height: 0.7vw;
    font-size: 1.4vw;

    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 1vw;
    }
  }
  .mainpage-mesic-title {
    font-size: 2.4vw;

    @include tablet {
      font-size: 5vw;
    }
  }
  .blob-img {
    width: 26vw;
  }
}

.second-section {
  .section-img {
    margin-left: 13vw;

    @include tablet {
      width: 55vw;
      margin: 0 0 10vw 0;
    }
  }
  .in {
    display: flex;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.3vw;

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-title {
    line-height: 3vw;
    font-size: 2.4vw;

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-subtitle-resp {
    display: none;
    @include tablet {
      display: block;
      color: $subtitle-color;
      font-weight: 300;
      letter-spacing: -0.01vw;
      margin: 1vw 0;
      font-size: 2.5vw;
      line-height: 4vw;
      text-align: center;
    }
  }
  .mainpage-mesic-title-resp {
    display: none;
    @include tablet {
      display: block;
      color: $title-color;
      font-weight: 800;
      letter-spacing: -0.01vw;
      white-space: nowrap;
      line-height: 6.5vw;
      font-size: 5vw;
      text-align: center;
    }
  }
  .blob-img {
    width: 26vw;
  }
}

.third-section {
  .section-img {
    margin-right: 10vw;
    width: 45vw;
    @include tablet {
      margin: 0;
      width: 70vw;
    }
  }
  .in {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.4vw;

    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 1vw;
    }
  }
  .mainpage-mesic-title {
    line-height: 3vw;
    font-size: 2.4vw;

    @include tablet {
      font-size: 5vw;
      line-height: 6.5vw;
    }
  }
  .blob-img {
    width: 24vw;
  }
}

.fourth-section {
  .mainpage-mesic-text {
    margin-left: 5vw;
  }
  .section-img {
    margin-left: 0vw;
    width: 50vw;

    @include tablet {
      margin: 0;
      width: 85vw;
    }
  }
  .in {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }
  .mainpage-mesic-subtitle {
    line-height: 1.9vw;
    font-size: 1.4vw;

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-title {
    line-height: 2.3vw;
    font-size: 2.4vw;

    @include tablet {
      display: none;
    }
  }
  .mainpage-mesic-subtitle-resp {
    display: none;
    @include tablet {
      display: block;
      color: $subtitle-color;
      font-weight: 300;
      letter-spacing: -0.01vw;
      margin: 1vw 0 2vw 0;
      font-size: 2.5vw;
      line-height: 4vw;
      text-align: center;
    }
  }
  .mainpage-mesic-title-resp {
    display: none;
    @include tablet {
      display: block;
      color: $title-color;
      font-weight: 800;
      letter-spacing: -0.01vw;
      white-space: nowrap;
      line-height: 3vw;
      font-size: 5vw;
      text-align: center;
    }
  }
  .blob-img {
    width: 22vw;
  }
}

.fifth-section {
  .mainpage-mesic-text {
    margin-right: 5vw;
    @include tablet {
      margin: 0;
    }
  }
  .section-img {
    margin-right: 0vw;
    width: 55vw;

    @include tablet {
      margin: 0;
      width: 90vw;
    }
  }
  .in {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }
  .mainpage-mesic-subtitle {
    line-height: 1.7vw;
    font-size: 1.5vw;

    @include tablet {
      font-size: 2.5vw;
      line-height: 4vw;
      margin-bottom: 2vw;
    }
  }
  .mainpage-mesic-title {
    line-height: 2.7vw;
    font-size: 2.4vw;

    @include tablet {
      font-size: 5vw;
      line-height: 2vw;
    }
  }
  .blob-img {
    width: 22vw;
  }
}

.mainpage-mesic-btn-end {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 3.9vw;
    @include tablet {
      width: 11vw;
    }
  }
  button {
    box-shadow: $btn-shadow;
    border: 0.1vw solid $main-color;
    background-color: white;
    color: $main-color;
    font-weight: 600;
    padding: 0.6vw 0.9vw;
    font-size: 1.6vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer;

    @include tablet {
      width: 30vw;
      height: 6vh;
      font-size: 3vw;
    }
  }
}

.mainpage-footer {
  width: 100vw;
  height: 45vh;
  padding: 12vh 12vh 6vh 12vh;
  @include tablet {
    padding: 10vh 0;
  }
}

.mainpage-footer-body {
  border-top: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.mainpage-footer-logo {
  img {
    position: absolute;
    top: 1vw;
    width: 8vw;
    @include tablet {
      margin-left: 1vw;
    }
  }
}

.mainpage-footer-members {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  div:first-child {
    font-size: 1.2vw;
    font-weight: 800;
    margin: 6vh 0 1vh 0;
    @include tablet {
      font-size: 3vw;
      margin-top: 5vh;
      font-weight: 1000;
    }
  }
  div:not(:first-child) {
    cursor: pointer;
    color: $title-color;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.35vw;
    @include tablet {
      font-size: 2vw;
    }
  }
  @include tablet {
    margin-left: 15vw;
  }
}

.mainpage-footer-repo {
  display: flex;
  flex-direction: column;
  img:first-child {
    width: 2vw;
    margin: 5vh 0 1vh 0;
    @include tablet {
      width: 4vw;
    }
  }
  div:not(:first-child) {
    cursor: pointer;
    color: $title-color;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.25vw;
    @include tablet {
      font-size: 2vw;
    }
  }
  @include tablet {
    margin-left: 6vw;
  }
}

.mainpage-footer-copyright {
  color: $subtitle-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1vw;
  letter-spacing: 0.02vw;
  @include tablet {
    opacity: 0;
  }
}

.scroll-down {
  position: fixed;
  z-index: 1;
  height: 2vw;
  width: 2vw;
  color: $subtitle-color;
  font-size: 0.8vw;
  left: 47.2vw;
  bottom: 4.5vh;
  white-space: nowrap;
  animation: scroll-down 1.5s ease-in-out infinite;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  @include tablet {
    bottom: 13vh;
    font-size: 2vw;
    left: 42.6vw;
  }
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: fixed;
  left: 50vw;
  bottom: 4vh;
  height: 0.5vw;
  width: 0.5vw;
  border: 0.1vw solid $subtitle-color;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.5s ease-in-out infinite;
  animation-delay: 0.1s;
  @include tablet {
    bottom: 11vh;
  }
}
.scroll-down::after {
  bottom: 3vh;
  animation-delay: 0.2s;
  @include tablet {
    bottom: 10vh;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.display-none {
  display: none;
}
// .opacity-0 {
//   opacity: 0;
// }

.scroll-up {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  height: 4vh;
  width: 2vw;
  color: $subtitle-color;
  font-size: 0.8vw;
  right: 2.5vw;
  bottom: 2.5vh;
  white-space: nowrap;
  animation: scroll-up 1.5s ease-in-out infinite;
  @include tablet {
    bottom: 8vh;
    right: 3vw;
    font-size: 2vw;
  }
}

.scroll-up::before,
.scroll-up::after {
  content: "";
  position: fixed;
  right: 3vw;
  bottom: 5.5vh;
  height: 0.5vw;
  width: 0.5vw;
  border: 0.1vw solid $subtitle-color;
  transform: translate(-50%, -50%) rotate(225deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-up 1.5s ease-in-out infinite;
  animation-delay: 0.1s;
  @include tablet {
    bottom: 11vh;
    right: 3.5vw;
  }
}
.scroll-up::after {
  bottom: 6.5vh;
  animation-delay: 0.2s;
  @include tablet {
    bottom: 12vh;
  }
}

.align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll-up {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 1;
  }
}
