.modal {
  z-index: 2;
  display: none;
  height: 500px;
  width: 500px;
  border: solid black 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show {
  display: flex;
}

#map {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
