@charset "UTF-8";
.modal-outsider {
  z-index: 2;
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 820px;
  width: 400px;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0%, 6%); }

.modal {
  display: flex;
  position: relative;
  padding: 15px 0px 15px 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fefefe;
  border-radius: 20px;
  height: 760px;
  width: 350px;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4); }
  .modal > div:first-child {
    display: flex;
    align-self: flex-start;
    margin: 0px 0px 20px 15px;
    font-size: 1.3rem;
    color: #19c9d4;
    cursor: pointer; }
  .modal .post-icon {
    display: flex;
    align-self: flex-start; }
  .modal .music {
    height: 170px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .modal .music .detail-icon {
      display: flex;
      align-self: flex-start; }
    .modal .music .detail-line {
      display: flex;
      align-self: flex-start;
      width: 300px;
      margin-top: 1px;
      border-top: 1px solid #e1e1e1; }
    .modal .music .add-btn-music {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 100px;
      margin: 15px 0px;
      background-color: #f8f8f8;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      font-size: 26px;
      color: #989898; }
    .modal .music .music-content {
      display: flex;
      flex-direction: column; }
    .modal .music .widget-outsider {
      display: flex;
      margin-top: 15px;
      padding-right: 30px;
      justify-content: space-around; }
      .modal .music .widget-outsider img {
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7); }
      .modal .music .widget-outsider div {
        padding: 15px 0px 15px 20px;
        margin-top: 5px; }
      .modal .music .widget-outsider iframe {
        align-self: center;
        border-radius: 15px;
        background-color: #19c9d4;
        width: 40px;
        height: 40px;
        margin-left: 10px; }
    .modal .music .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px; }
      .modal .music .edit-del-btn i {
        width: 20px;
        height: 20px; }
      .modal .music .edit-del-btn > div > i {
        cursor: pointer; }
    .modal .music .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px; }
      .modal .music .save-cancel-btn button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: #19c9d4;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer; }
    .modal .music .follow-widget-outsider {
      margin-top: 10px; }
      .modal .music .follow-widget-outsider img {
        width: 100px;
        height: 80px;
        padding: 0;
        margin-top: 10px;
        border-radius: 100%; }
      .modal .music .follow-widget-outsider div {
        margin-top: 10px; }
  .modal .photo {
    margin: 5px 0px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .modal .photo .detail-icon {
      display: flex;
      align-self: flex-start; }
    .modal .photo .detail-line {
      display: flex;
      align-self: flex-start;
      width: 300px;
      margin-top: 1px;
      border-top: 1px solid #e1e1e1; }
    .modal .photo .add-btn-photo {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 13px 0px 10px 0px;
      background-color: #f8f8f8;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      font-size: 26px;
      color: #989898;
      padding: 83px 118px; }
    .modal .photo .edit-btn-photo {
      cursor: pointer; }
    .modal .photo .input-photo {
      display: none; }
    .modal .photo .photo-img-outsider {
      display: flex;
      justify-content: center; }
      .modal .photo .photo-img-outsider .photo-img {
        border-radius: 8px;
        height: 200px;
        width: 200px;
        margin-top: 10px; }
    .modal .photo .add-btn-read-photo {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 10px 0px 10px 0px;
      background-color: #f8f8f8;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      font-size: 26px;
      color: #989898;
      padding: 83px 118px; }
    .modal .photo .add-btn-outsider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .modal .photo .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px; }
      .modal .photo .edit-del-btn i {
        width: 20px;
        height: 20px; }
      .modal .photo .edit-del-btn > div > i {
        cursor: pointer; }
    .modal .photo .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      margin-top: 10px; }
      .modal .photo .save-cancel-btn button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: #19c9d4;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer; }
  .modal .memo {
    margin: 5px 0px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .modal .memo .detail-icon {
      display: flex;
      align-self: flex-start; }
    .modal .memo .detail-line {
      display: flex;
      align-self: flex-start;
      width: 300px;
      margin-top: 1px;
      border-top: 1px solid #e1e1e1; }
    .modal .memo .textarea-outsider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 15px; }
      .modal .memo .textarea-outsider .input-memo {
        position: relative;
        display: flex;
        -webkit-appearance: none;
        width: 240px;
        height: 150px;
        border: 0;
        padding: 12px 3px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        background: none;
        border-radius: 0;
        color: black;
        transition: all 0.15s ease; }
    .modal .memo .read-memo {
      height: 200px;
      overflow: auto;
      padding: 20px; }
    .modal .memo .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px; }
      .modal .memo .edit-del-btn i {
        width: 20px;
        height: 20px; }
      .modal .memo .edit-del-btn > div > i {
        cursor: pointer; }
    .modal .memo .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px; }
      .modal .memo .save-cancel-btn button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: #19c9d4;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer; }

.pinit-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #19c9d4;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7); }

.delete-pin-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #19c9d4;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7); }

@keyframes slide2 {
  from {
    left: 0%; }
  to {
    left: -300%; } }

@-webkit-keyframes slide2 {
  from {
    left: 0%; }
  to {
    left: -300%; } }

.edit-music-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 35px;
  border: 0;
  padding: 20px;
  width: 350px;
  height: 400px;
  top: 30%;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-105%, -41.5%); }

.edit-music-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: 300px; }
  .edit-music-list img {
    border-radius: 15px; }

.edit-music-searched {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin: 10px;
  cursor: pointer; }
  .edit-music-searched:hover > div > div {
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide2;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; }

.edit-music-hidden {
  position: absolute;
  overflow: hidden;
  height: 30px;
  width: 180px;
  left: 140px; }

.edit-music-searched-title {
  padding: 5px;
  font-size: 1rem;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  left: 0;
  color: #505050; }

.edit-music-title {
  text-align: center;
  color: #19c9d4;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: -2px;
  margin: 10px; }

.edit-music {
  display: flex;
  align-items: center;
  justify-content: center; }
  .edit-music input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #dedede;
    display: block;
    position: relative;
    margin: 10px 10px 0px 10px;
    width: 80%;
    color: #646464;
    font-size: 1rem;
    padding: 4px; }
  .edit-music i {
    opacity: 0.4;
    cursor: pointer; }
  .edit-music ::placeholder {
    opacity: 60%; }

.edit-music-close-btn {
  position: absolute;
  margin-top: 20px;
  top: 0;
  font-size: 1.3rem;
  color: #19c9d4;
  cursor: pointer; }

.confirm-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 4;
  border: 0;
  padding: 20px;
  width: 150vw;
  height: 110vh;
  top: 30%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-20%, -34%); }

.confirm-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 17vh;
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(275%, 210%);
  background-color: white;
  border-radius: 8px; }
  .confirm-modal-content > div:first-child {
    margin-top: 40px;
    font-size: 1.2rem; }
  .confirm-modal-content > div:last-child {
    width: 450vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px; }
    .confirm-modal-content > div:last-child > button:first-child {
      width: 6vw;
      height: 4vh;
      border: 0;
      background-color: #19c9d4;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: -1px;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 5px; }
    .confirm-modal-content > div:last-child > button:last-child {
      width: 6vw;
      height: 4vh;
      border: 0;
      background-color: #19c9d4;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: -1px;
      border-radius: 20px;
      cursor: pointer;
      margin-left: 5px; }

.show1 {
  display: flex; }

.followlist {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  border: 0;
  padding: 20px 15px 20px 20px;
  width: 350px;
  height: 550px;
  top: 30%;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);
  -webkit-transform: translate(10%, 10%);
  transform: translate(10%, 10%); }
  .followlist input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #dedede;
    display: block;
    position: relative;
    margin: 20px auto;
    width: 80%;
    color: #505050;
    font-size: 1rem;
    padding: 4px; }
  .followlist ::placeholder {
    opacity: 60%; }

.followlist-title {
  text-align: center;
  color: #19c9d4;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: -2px;
  margin: 10px; }

.follow {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 340px; }

.search-user-box {
  position: absolute;
  bottom: 20px; }

.each-follow {
  padding: 0px 10px;
  margin-right: 25px; }

.each-user-name {
  font-size: 1.1rem;
  color: #505050; }

.each-user-email {
  font-size: 0.8rem;
  color: #9e9e9e; }

.each-follow-flex {
  display: flex;
  align-items: center;
  position: relative; }
  .each-follow-flex div {
    flex: 0 1 auto;
    margin: 10px; }
  .each-follow-flex img {
    flex: 0 1 auto; }
  .each-follow-flex input[type="checkbox"] {
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    padding: 10px;
    flex: 0 1 auto;
    margin: 5px;
    cursor: pointer; }
  .each-follow-flex button {
    position: absolute;
    right: 0;
    flex: 0 1 auto; }

.delete-follow-btn {
  background-color: white;
  height: 14px;
  width: 14px;
  cursor: pointer;
  color: #19c9d4;
  border: solid 1px #19c9d4;
  line-height: 0;
  font-size: 1.2rem; }
  .delete-follow-btn:hover {
    font-size: 1.6rem;
    height: 17px;
    width: 17px;
    border: solid 2px #19c9d4; }

.find-user-btn {
  box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
  margin: 0 auto;
  transform: translateX(33%);
  padding: 11px 22px;
  border: 0;
  background-color: #19c9d4;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -1px;
  border-radius: 15px;
  cursor: pointer; }

.search-not-found {
  text-align: center;
  color: #505050;
  margin-top: 50%; }

.search-user-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  border: 0;
  padding: 20px 15px 20px 20px;
  width: 350px;
  height: 550px;
  top: 30%;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);
  -webkit-transform: translate(10%, 10%);
  transform: translate(10%, 10%);
  -webkit-transform: translate(-6%, -30%);
  transform: translate(-6%, -30%); }
  .search-user-modal input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #dedede;
    display: block;
    position: relative;
    margin: 20px auto;
    width: 80%;
    color: #505050;
    font-size: 1rem;
    padding: 4px; }
  .search-user-modal ::placeholder {
    opacity: 60%; }

.search-user-close {
  position: absolute;
  font-size: 1.3rem;
  margin: 5px;
  color: #19c9d4;
  cursor: pointer; }

.each-user-flex {
  display: flex;
  align-items: center;
  position: relative; }
  .each-user-flex div {
    flex: 0 1 auto;
    margin: 10px 10px 10px 35px; }
  .each-user-flex button {
    position: absolute;
    margin-right: 35px;
    right: 0;
    flex: 0 1 auto; }

.add-follow-btn {
  background-color: white;
  height: 14px;
  width: 14px;
  cursor: pointer;
  color: #19c9d4;
  border: solid 1px #19c9d4;
  line-height: 0;
  font-size: 1rem;
  line-height: 0.1rem; }
  .add-follow-btn:hover {
    font-size: 1.3rem;
    height: 17px;
    width: 17px;
    border: solid 2px #19c9d4; }

.search-location {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  border: 0;
  width: 220px;
  padding: 0 5px;
  height: 60px;
  -webkit-transform: translate(15%, 130%);
  transform: translate(14%, 250%);
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4); }
  .search-location ::placeholder {
    opacity: 60%;
    font-size: 0.9rem; }
  .search-location input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #dedede;
    display: block;
    position: relative;
    margin-left: 15px;
    width: 80%;
    color: #505050;
    font-size: 1rem;
    padding: 4px; }
  .search-location ul {
    width: 80%;
    border-radius: 10px; }
    .search-location ul > :last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .search-location ul li {
      list-style-type: none;
      padding: 10px;
      box-shadow: 0 7px 6px -10px #545454;
      cursor: pointer; }
      .search-location ul li:hover {
        background-color: #1dd8e59d; }
      .search-location ul li > div:first-child {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #505050;
        font-size: 0.9rem; }
      .search-location ul li > div:last-child {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #9e9e9e;
        font-size: 0.6rem; }

.search-location-flex {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  position: relative; }
  .search-location-flex .fa-search {
    position: absolute;
    right: 0;
    opacity: 0.4;
    cursor: pointer;
    margin: 0 15px 5px 0; }

.search-location-result {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
  align-items: start;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, -25%); }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 5px 5px 1px rgba(84, 84, 84, 0.2);
  z-index: 2; }
  .nav .logo-btn {
    width: 5%;
    border-radius: 7px;
    color: #19c9d4;
    background-image: none;
    border: none;
    outline: none;
    margin: 0 20px; }
  .nav .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px; }
    .nav .nav-btn .loginBtn {
      padding: 10px;
      border-radius: 7px;
      font-weight: 600;
      font-size: 18px;
      background-color: white;
      color: #19c9d4;
      border: none;
      outline: none; }
    .nav .nav-btn .mypageBtn {
      margin: 15px;
      padding: 10px;
      border-radius: 7px;
      font-weight: 600;
      font-size: 18px;
      color: #fefefe;
      background-color: #19c9d4;
      border: none;
      outline: none;
      box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4); }
      .nav .nav-btn .mypageBtn:hover {
        opacity: 0.8; }

.error-message {
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.827); }

.login-signup-modal-outsider {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.login-close {
  cursor: pointer;
  top: 30px;
  left: 30px;
  position: absolute;
  font-size: 1.3rem;
  color: #19c9d4;
  font-weight: 800;
  top: 20px; }

.login-title {
  color: #19c9d4;
  margin: 20px;
  font-weight: 800;
  font-size: 1.7rem; }

.content-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.login-content > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px; }
  .login-content > div > div {
    color: #9f9999;
    margin-right: 20px;
    font-size: 1.2rem; }
  .login-content > div > input {
    color: #9f9999;
    background-color: #f4f5f4;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    height: 30px; }

.loginBtn {
  box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
  margin: 15px;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #19c9d4;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none; }
  .loginBtn:hover {
    opacity: 0.8; }

.loginBtn-2 {
  box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
  margin: 15px;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #19c9d4;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none; }
  .loginBtn-2:hover {
    opacity: 0.8; }

.guestLoginBtn {
  box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
  margin: 15px;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #19c9d4;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: white;
  color: #19c9d4; }
  .guestLoginBtn:hover {
    opacity: 0.8; }

.loginContainer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loginContainer div {
    border-radius: 20px;
    box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center; }

.google-loginBtn {
  width: 32px;
  height: 32px; }

.login-signup-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 5;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center; }

.mypage-close {
  cursor: pointer;
  top: 30px;
  left: 30px;
  position: absolute;
  font-size: 1.3rem;
  color: #19c9d4;
  font-weight: 800; }

.mypage-edit-background {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */ }

.mypage-edit-modal {
  z-index: 3;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);
  background-color: #fefefe;
  position: absolute;
  padding: 30px 40px 30px 30px;
  width: 500px;
  left: 90%;
  border: none;
  border-radius: 20px;
  text-align: center;
  -webkit-transform: translate(-60%, 30%);
  transform: translate(-60%, 30%); }
  .mypage-edit-modal .mypage-title {
    color: #19c9d4;
    margin: 20px;
    font-weight: 800;
    font-size: 1.7rem; }
  .mypage-edit-modal .profileImg {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px; }
  .mypage-edit-modal .mypage-info > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px; }
    .mypage-edit-modal .mypage-info > div > div:first-child {
      color: #9f9999;
      margin-right: 25px;
      font-size: 1.4rem; }
    .mypage-edit-modal .mypage-info > div > div:last-child {
      color: #9f9999;
      padding: 10px;
      font-size: 1.2rem;
      width: 250px;
      background-color: #f4f5f4;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .mypage-edit-modal .mypage-info > div > input[type="text"] {
      background-color: #19c9d4;
      text-align: center;
      border: none;
      outline: none;
      width: 250px;
      padding: 10px;
      font-size: 1.2rem;
      opacity: 0.5; }
  .mypage-edit-modal .mypage-modify-btn {
    box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
    margin: 15px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #19c9d4;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none; }
    .mypage-edit-modal .mypage-modify-btn:hover {
      opacity: 0.8; }
  .mypage-edit-modal .mypage-cancel-btn {
    box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
    margin: 15px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #19c9d4;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: white;
    color: #19c9d4; }
    .mypage-edit-modal .mypage-cancel-btn:hover {
      opacity: 0.8; }

#profile-img-input {
  display: none; }

.edit-profile-img-btn {
  opacity: 0.4;
  position: absolute;
  bottom: 15px;
  cursor: pointer; }

.profileImg-content {
  border-radius: 50%;
  width: 200px;
  height: 200px; }

.mainpage {
  position: absolute;
  height: 670vh;
  overflow-y: hidden; }

.mainpage-mesic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 12vh; }

.mainpage-mesic-body {
  display: flex;
  justify-content: center;
  position: relative; }

.mainpage-img {
  width: 60vw;
  margin-right: 2vw;
  height: max-content; }

.blob-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.mainpage-mesic-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }

.mainpage-mesic-about-us {
  font-size: 1vw;
  letter-spacing: -1px;
  line-height: 3rem;
  color: #a1a1a1; }

.mainpage-mesic-title {
  color: #525252;
  font-size: 3.5vw;
  font-weight: 800;
  letter-spacing: -0.01vw;
  line-height: 3vw;
  white-space: nowrap; }
  .mainpage-mesic-title span {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -0.01vw; }

.mainpage-mesic-subtitle {
  font-size: 1.3vw;
  color: #858585;
  font-weight: 300;
  letter-spacing: -0.01vw;
  line-height: 1.8vw;
  margin: 0.5vw 0; }

.mainpage-mesic-btn {
  text-align: center;
  margin: 2.5vw; }
  .mainpage-mesic-btn button {
    box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
    border: 0;
    background-color: #19c9d4;
    color: white;
    font-weight: 600;
    padding: 0.8vw;
    font-size: 1.3vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer; }

.section-img {
  width: 36vw;
  height: max-content;
  overflow: hidden; }

.first-section .section-img {
  margin-right: 10vw; }

.first-section .mainpage-mesic-subtitle {
  line-height: 0.7vw;
  font-size: 1.2vw; }

.first-section .mainpage-mesic-title {
  font-size: 2vw; }

.first-section .blob-img {
  width: 22vw; }

.second-section .section-img {
  margin-left: 13vw; }

.second-section .mainpage-mesic-subtitle {
  line-height: 1.7vw;
  font-size: 1.1vw; }

.second-section .mainpage-mesic-title {
  line-height: 2.7vw;
  font-size: 2vw; }

.second-section .blob-img {
  width: 23vw; }

.third-section .section-img {
  margin-right: 10vw;
  width: 45vw; }

.third-section .mainpage-mesic-subtitle {
  line-height: 1.7vw; }

.third-section .mainpage-mesic-title {
  line-height: 2.5vw;
  font-size: 2vw; }

.third-section .blob-img {
  width: 22vw; }

.fourth-section .mainpage-mesic-text {
  margin-left: 5vw; }

.fourth-section .section-img {
  margin-left: 0vw;
  width: 50vw; }

.fourth-section .mainpage-mesic-subtitle {
  line-height: 1.7vw;
  font-size: 1.2vw; }

.fourth-section .mainpage-mesic-title {
  line-height: 2.1vw;
  font-size: 2.1vw; }

.fourth-section .blob-img {
  width: 22vw; }

.fifth-section .mainpage-mesic-text {
  margin-right: 5vw; }

.fifth-section .section-img {
  margin-right: 0vw;
  width: 55vw; }

.fifth-section .mainpage-mesic-subtitle {
  line-height: 1.7vw; }

.fifth-section .mainpage-mesic-title {
  line-height: 2.5vw;
  font-size: 2vw; }

.fifth-section .blob-img {
  width: 22vw; }

.mainpage-mesic-btn-end {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainpage-mesic-btn-end div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .mainpage-mesic-btn-end img {
    width: 3.9vw; }
  .mainpage-mesic-btn-end button {
    box-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);
    border: 0.1vw solid #19c9d4;
    background-color: white;
    color: #19c9d4;
    font-weight: 600;
    padding: 0.6vw 0.9vw;
    font-size: 1.6vw;
    letter-spacing: -1px;
    border-radius: 0.8vw;
    cursor: pointer; }

.mainpage-footer {
  width: 100vw;
  height: 45vh;
  padding: 12vh 12vh 6vh 12vh; }

.mainpage-footer-body {
  border-top: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative; }

.mainpage-footer-logo img {
  position: absolute;
  top: 1vw;
  width: 8vw; }

.mainpage-footer-members {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column; }
  .mainpage-footer-members div:first-child {
    font-size: 1.2vw;
    font-weight: 800;
    margin: 6vh 0 1vh 0; }
  .mainpage-footer-members div:not(:first-child) {
    cursor: pointer;
    color: #525252;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.35vw; }

.mainpage-footer-repo {
  display: flex;
  flex-direction: column; }
  .mainpage-footer-repo img:first-child {
    width: 2vw;
    margin: 5vh 0 1vh 0; }
  .mainpage-footer-repo div:not(:first-child) {
    cursor: pointer;
    color: #525252;
    font-size: 1vw;
    font-weight: 300;
    margin: 0.25vw; }

.mainpage-footer-copyright {
  color: #858585;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1vw;
  letter-spacing: 0.02vw; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", Mulish; }

html,
body {
  width: 100vw; }

/* MainPage & IntroPage 여기서 하세요 */
#kakao-map {
  z-index: 1;
  width: 100vw;
  height: 100vh; }

.background {
  display: none;
  /* Hidden by default */ }

.confirm-modal-outsider {
  position: absolute;
  z-index: 2;
  width: 50%;
  left: 50%;
  top: 50%; }

.show {
  display: block; }

.hide {
  display: none; }

.profileImg-outsider {
  border: none #c0c0c0 solid;
  padding: 5px;
  max-width: 110px;
  margin-top: 5px;
  margin-bottom: 0px; }

.my-pin-color {
  height: 30px; }

.preview {
  width: 200px;
  height: 140px;
  padding: 20px 10px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4); }
  .preview:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 55%;
    width: 0;
    border-top: 20px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }

.music-flex-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.preview-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex: 0 0 auto; }

@keyframes slide {
  from {
    left: 0%; }
  to {
    left: -300%; } }

@-webkit-keyframes slide {
  from {
    left: 0%; }
  to {
    left: -300%; } }

.preview-title-container {
  flex: 1 1 100px;
  height: 30px; }
  .preview-title-container .hide-overflow {
    overflow: hidden;
    position: absolute;
    right: 15px;
    height: 30px;
    width: 95px; }
    .preview-title-container .hide-overflow .preview-title {
      text-align: center;
      position: absolute;
      font-size: 0.9rem;
      color: #505050;
      margin: 10px 0;
      animation-delay: 0.5s;
      animation-name: slide;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0.5s;
      -webkit-animation-name: slide;
      -webkit-animation-duration: 3s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      white-space: nowrap; }

.preview-memo {
  font-size: 0.8rem;
  text-align: center;
  margin: 15px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #969696; }

.detail-modal-close {
  height: 20px;
  width: 20px;
  font-size: 1.3rem;
  color: #19c9d4;
  border: none;
  cursor: pointer; }

.detail-modal-hide {
  display: none;
  z-index: 3;
  position: fixed;
  height: 70px;
  width: 40px;
  font-size: 1.3rem;
  right: 10vw;
  color: #19c9d4;
  background-color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-470%, 500%); }
