@import "../../media-queries";

$main-color: #19c9d4;
$font-color: rgb(80, 80, 80);
$sub-font-color: rgb(158, 158, 158);
$box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);
$btn-shadow: 0px 3px 3px 0px rgba(84, 84, 84, 0.4);

@mixin follow-user-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  border: 0;
  padding: 20px 15px 20px 20px;
  width: 350px;
  height: 550px;
  top: 30%;
  box-shadow: $box-shadow;
  -webkit-transform: translate(10%, 10%);
  transform: translate(10%, 10%);
  input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(222, 222, 222);
    display: block;
    position: relative;
    margin: 20px auto;
    width: 80%;
    color: $font-color;
    font-size: 1rem;
    padding: 4px;
  }
  ::placeholder {
    opacity: 60%;
  }
}

@mixin each-flex-box {
  display: flex;
  align-items: center;
  position: relative;
}

@mixin flex-box-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 340px;
}

@mixin follow-btn {
  background-color: white;
  height: 14px;
  width: 14px;
  cursor: pointer;
  color: $main-color;
  border: solid 1px $main-color;
  line-height: 0;
}

@mixin line-breaks-dots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin search-btn {
  position: absolute;
  right: 0;
  opacity: 0.4;
  cursor: pointer;
}

.followlist {
  @include follow-user-modal;
}

.followlist-title {
  text-align: center;
  color: $main-color;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: -2px;
  margin: 10px;
}

.follow {
  @include flex-box-container;
}

.search-user-box {
  text-align: center;
}

.each-follow {
  padding: 0px 10px;
  margin-right: 25px;
}

.each-user-name {
  font-size: 1.1rem;
  color: $font-color;
}

.each-user-email {
  font-size: 0.8rem;
  color: $sub-font-color;
}

.each-follow-flex {
  @include each-flex-box;
  div {
    flex: 0 1 auto;
    margin: 10px;
  }
  img {
    flex: 0 1 auto;
  }
  input[type="checkbox"] {
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    padding: 10px;
    flex: 0 1 auto;
    margin: 5px;
    outline: 0;
    cursor: pointer;
  }
  button {
    position: absolute;
    right: 0;
    flex: 0 1 auto;
  }
}

.delete-follow-btn {
  @include follow-btn;
  font-size: 1.2rem;
  &:hover {
    font-size: 1.6rem;
    height: 17px;
    width: 17px;
    border: solid 2px $main-color;
  }
}

.find-user-btn {
  box-shadow: $btn-shadow;
  padding: 11px 22px;
  border: 0;
  background-color: $main-color;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -1px;
  border-radius: 15px;
  cursor: pointer;
}

.search-not-found {
  text-align: center;
  color: $font-color;
  margin-top: 50%;
}

.search-user-modal {
  @include follow-user-modal;
  box-shadow: none;
  -webkit-transform: translate(-6%, -30%);
  transform: translate(-6%, -30%);
}

.search-user-close {
  position: absolute;
  font-size: 1.3rem;
  margin: 5px;
  color: $main-color;
  cursor: pointer;
}

.each-user-flex {
  @include each-flex-box;
  div {
    flex: 0 1 auto;
    margin: 10px 10px 10px 35px;
  }
  button {
    position: absolute;
    margin-right: 35px;
    right: 0;
    flex: 0 1 auto;
  }
}

.add-follow-btn {
  @include follow-btn;
  font-size: 1rem;
  line-height: 0.1rem;
  &:hover {
    font-size: 1.3rem;
    height: 17px;
    width: 17px;
    border: solid 2px $main-color;
  }
}

.search-location {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  border: 0;
  width: 220px;
  padding: 0 5px;
  height: 60px;
  -webkit-transform: translate(15%, 130%);
  transform: translate(14%, 250%);
  ::placeholder {
    opacity: 60%;
    font-size: 0.9rem;
  }
  box-shadow: $box-shadow;
  input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(222, 222, 222);
    display: block;
    position: relative;
    margin-left: 15px;
    width: 80%;
    color: $font-color;
    font-size: 1rem;
    padding: 4px;
  }
  ul {
    width: 80%;
    border-radius: 10px;
    & > :last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    li {
      list-style-type: none;
      padding: 10px;
      box-shadow: 0 7px 6px -10px rgb(84, 84, 84);
      cursor: pointer;
      &:hover {
        background-color: #1dd8e59d;
      }
      & > div:first-child {
        @include line-breaks-dots;
        color: $font-color;
        font-size: 0.9rem;
      }
      & > div:last-child {
        @include line-breaks-dots;
        color: $sub-font-color;
        font-size: 0.6rem;
      }
    }
  }
}

.search-location-flex {
  @include each-flex-box;
  width: 100%;
  height: 100%;
  position: relative;
  .fa-search {
    @include search-btn;
    margin: 0 15px 5px 0;
  }
}

.search-location-result {
  @include each-flex-box;
  margin: 0 10px;
  align-items: start;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, -25%);
}

$mesic-color: #19c9d4;
$default-black-color: #525252;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 5px 5px 1px rgba(84, 84, 84, 0.2);
  z-index: 2;

  .logo-btn {
    cursor: pointer;
    width: 100px;
    border-radius: 7px;
    color: $mesic-color;
    background-image: none;
    border: none;
    outline: none;
    margin: 0 20px;

    @include tablet {
      margin-left: 5px;
    }

    @include mobile {
      margin: 0;
      width: 80px;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    @include mobile {
      margin: 0 11px;
    }

    .loginBtn {
      position: relative;
      padding: 10px 20px;
      border-radius: 15px;
      font-weight: 600;
      font-size: 18px;
      background-color: white;
      color: $mesic-color;
      border: none;
      outline: none;

      @include mobile {
        margin: 0;
        font-size: 15px;
      }
    }

    .mypageBtn {
      position: relative;
      margin: 15px;
      padding: 10px 20px;
      border-radius: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #fefefe;
      background-color: $mesic-color;
      border: none;
      outline: none;
      box-shadow: $btn-shadow;

      @include mobile {
        margin: 0;
        font-size: 15px;
        padding: 9px 15px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
