
$mesic-color: #19C9D4;
$default-black-color: #525252;

.nav{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    position: fix;

    // border-bottom: solid 1px;        
    // border-color: $default-black-color;

    .logo-btn{
        width: 5%;
        border-radius: 7px;

        color : $mesic-color;
        background-image: none;
        border: none;
        outline: none;
    }
    
    .nav-btn{
        display: flex;
        .loginBtn{
            padding: 10px;
            border-radius: 7px;
            font-weight: 600;
            font-size: 18px;

            background-color: white;
            color: $mesic-color;

            border: none;
            outline: none;
        }

        .mypageBtn{
            margin: 15px;
            padding: 10px;
            border-radius: 7px;
            font-weight: 600;
            font-size: 18px;
            
            color: #fefefe;
            background-color: $mesic-color;

            border: none;
            outline: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}