$color: #fefefe;
$main-color: #19c9d4;
$font-color: rgb(100, 100, 100);
$box-shadow: 0px 5px 5px 4px rgba(84, 84, 84, 0.4);

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-outsider {
  z-index: 2;
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 820px;
  width: 400px;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0%, 6%);
}

.modal {
  display: flex;
  position: relative;
  padding: 50px 0px 15px 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color;
  border-radius: 20px;
  height: 760px;
  width: 350px;
  box-shadow: $box-shadow;
  $margin: 5px 0px;

  @mixin detail-line {
    display: flex;
    align-self: flex-start;
    width: 300px;
    margin-top: 1px;
    border-top: 1px solid #e1e1e1;
  }
  @mixin detail-icon {
    display: flex;
    align-self: flex-start;
  }

  .music {
    margin: $margin;
    height: 170px;
    width: 300px;
    @include flex;
    .detail-icon {
      @include detail-icon;
    }
    .detail-line {
      @include detail-line;
    }
    .add-btn-music {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 100px;
      margin: 15px 0px;
      background-color: #f8f8f8;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      font-size: 26px;
      color: #989898;
    }
    // .music-iframe {
    //   margin-top: 5px;
    // }
    .music-content {
      display: flex;
      flex-direction: column;
    }
    .widget-outsider {
      display: flex;
      margin-top: 15px;
      padding-right: 30px;
      justify-content: space-around;
      img {
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7);
      }
      div {
        padding: 15px 0px 15px 20px;
        margin-top: 5px;
      }
      iframe {
        align-self: center;
        border-radius: 15px;
        background-color: $main-color;
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }
    }
    .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 250px;
      align-self: flex-end;
      i {
        width: 20px;
        height: 20px;
      }
    }
    .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: $main-color;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .follow-widget-outsider {
      margin-top: 10px;
      img {
        width: 100px;
        height: 80px;
        padding: 0;
        margin-top: 10px;
        border-radius: 100%;
      }
      div {
        margin-top: 10px;
      }
    }
  }

  .photo {
    margin: $margin;
    height: 270px;
    @include flex;
    .detail-icon {
      @include detail-icon;
    }
    .detail-line {
      @include detail-line;
    }
    .add-btn-photo {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 13px 0px 10px 0px;
      background-color: #f8f8f8;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      font-size: 26px;
      color: #989898;
      padding: 83px 118px;
    }
    .edit-btn-photo {
      cursor: pointer;
    }
    .input-photo {
      display: none;
    }
    .photo-img-outsider {
      display: flex;
      justify-content: center;
      .photo-img {
        border-radius: 8px;
        height: 200px;
        width: 200px;
        margin-top: 10px;
      }
    }
    .add-btn-read-photo {
      position: relative;
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 10px 0px 10px 0px;
      background-color: #f8f8f8;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      font-size: 26px;
      color: #989898;
      padding: 83px 118px;
    }
    .add-btn-outsider {
      @include flex;
    }
    .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      i {
        width: 20px;
        height: 20px;
      }
    }
    .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      margin-top: 10px;
      button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: $main-color;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .memo {
    margin: $margin;
    height: 250px;
    @include flex;
    .detail-icon {
      @include detail-icon;
    }
    .detail-line {
      @include detail-line;
    }
    .textarea-outsider {
      @include flex;
      margin: 15px;
      .input-memo {
        position: relative;
        display: flex;
        -webkit-appearance: none;
        width: 240px;
        height: 150px;
        border: 0;
        padding: 12px 3px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        background: none;
        border-radius: 0;
        color: black;
        transition: all 0.15s ease;
      }
    }
    .read-memo {
      height: 200px;
      overflow: auto;
      padding: 20px;
    }
    .edit-del-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      i {
        width: 20px;
        height: 20px;
      }
    }
    .save-cancel-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 300px;
      button {
        margin-right: 5px;
        width: 40px;
        height: 20px;
        border: 0;
        background-color: $main-color;
        color: white;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: -1px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.pinit-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: $main-color;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7);
}
.delete-pin-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: $main-color;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 3px 3px 0px rgba(94, 112, 134, 0.7);
}

// edit music

@keyframes slide2 {
  from {
    left: 0%;
  }
  to {
    left: -300%;
  }
}

@-webkit-keyframes slide2 {
  from {
    left: 0%;
  }
  to {
    left: -300%;
  }
}

.edit-music-modal {
  background-color: #fefefe;
  position: absolute;
  z-index: 3;
  border-radius: 35px;
  border: 0;
  padding: 20px;
  width: 350px;
  height: 400px;
  top: 30%;
  box-shadow: $box-shadow;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-105%, -41.5%);
}

.edit-music-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: 300px;
  img {
    border-radius: 15px;
  }
}

.edit-music-searched {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin: 10px;
  cursor: pointer;
  &:hover {
    & > div > div {
      animation-name: slide;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-name: slide2;
      -webkit-animation-duration: 3s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
    }
  }
}

.edit-music-hidden {
  position: absolute;
  overflow: hidden;
  height: 30px;
  width: 180px;
  left: 140px;
}

.edit-music-searched-title {
  padding: 5px;
  font-size: 1rem;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  left: 0;
  color: rgb(80, 80, 80);
}

.edit-music-title {
  text-align: center;
  color: $main-color;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: -2px;
  margin: 10px;
}

.edit-music {
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(222, 222, 222);
    display: block;
    position: relative;
    margin: 10px 10px 0px 10px;
    width: 80%;
    color: $font-color;
    font-size: 1rem;
    padding: 4px;
  }
  i {
    opacity: 0.4;
    cursor: pointer;
  }
  ::placeholder {
    opacity: 60%;
  }
}

.edit-music-close-btn {
  position: absolute;
  margin-top: 20px;
  top: 0;
  font-size: 1.3rem;
  color: $main-color;
  cursor: pointer;
}
.confirm-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 4;
  border: 0;
  padding: 20px;
  width: 150vw;
  height: 110vh;
  top: 30%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-20%, -34%);
}
.confirm-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 25vh;
  position: relative;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(200%, 135%);
  background-color: white;
  border-radius: 5px;
  & > div:first-child {
    margin-top: 60px;
    height: 10vh;
    font-size: 1.5rem;
  }
  & > div:last-child {
    position: relative;
    height: 400;
    width: 450vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    @mixin confirm-btn {
      width: 205px;
      height: 50px;
      border: 0;
      background-color: $main-color;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: -1px;
      border-radius: 5px;
      cursor: pointer;
    }
    & > button:first-child {
      @include confirm-btn;
      margin-right: 5px;
    }
    & > button:last-child {
      @include confirm-btn;
      margin-left: 5px;
    }
  }
}

.show1 {
  display: flex;
}
